<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password Change</title>
</head>
<body>
    <h1>Forgot Password Change</h1>
    <form>
        <label for="newPassword">Enter a new password:</label><br>
        <input type="password" id="newPassword" name="newPassword" required><br>
        <label for="confirmPassword">Confirm your new password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <input type="submit" value="Change Password">
    </form>
    <p>Your password has been changed successfully.</p>
</body>
</html>